body {
  background: #1F2937;
  padding: 1rem;

}

:root {
  --primarycolor: #60a5fa;
}

.task--heading {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  text-align: center;
  color: #F97316;
}

.select--container {
  span {
    color: var(--primarycolor);
    font-size: 0.975rem;
    margin-right: 0.5rem;
  }
  select {
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    outline: none;
  }
}

input,
textarea {
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  width: 100%;
  margin: 5px 0px;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background: blue;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: rgb(48, 48, 170);
  }
}

form {
  max-width: 350px;
  margin-inline: auto;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    gap: 3rem;

}

.container {
  border-top: 1px solid #aaefeb;
  max-width: 700px;
  margin: .5rem auto;
  display: flex;
  justify-content: end;
  gap: 3rem;
  padding: 1rem 0rem;
}

.incident--card {
  border: 1px solid #72bbcb;
  padding: 0.5rem 1rem;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 5px;
  color: #fff;

  .card--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #72bbcb;

    p {
      font-size: 0.825rem;
      text-decoration: underline;
      cursor: pointer;
      color: #006eff;
    }
  }

  & > p {
    margin: 8px 0rem;
  }

  .button-class {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  section {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.845rem;


    .tag {
      padding: 5px 10px;
      border-radius: 5px;
      background: #aaefeb;
      color: #000;
    }
  }

  .remove-button {
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
  }

  &:hover{
    background-color: #344051;
  }
}
